[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
flask-sqlalchemy = "*"
ddtrace = "*"
gunicorn = "*"
python-dotenv = "*"
flask-migrate = "*"
psycopg2 = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
